# gcc compiled headers
*.gch

# vim swap files
*.swp

# gcc output files
a.out
*.o

fit =*
xor_test.res

.vscode
experiments/xor/xor
experiments/xor/xor.exe
experiments/xor/xor_independent
experiments/xor/xor_independent.exe